
<hr>
<div class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-xs-6" >
        <div class="input-group">
            <span class="input-group-addon">First Name</span>
            <input type="text" id="firstName" formControlName="firstName" class="form-control"  #firstName >
        </div>
      </div>
     

      <div class="col-xs-6" >
        <div class="input-group">
            <span class="input-group-addon">Last Name</span>
            <input type="text" id="lastName" formControlName="LastName" class="form-control" #lastName>
        </div>
      </div>
    </div>
    <br>
    <div class="col-xs-6" >
      <div class="input-group">
          <span class="input-group-addon">Phone</span>
          <input type="text" id="phone" formControlName="phone" class="form-control" #phone>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6" >
        <div class="input-group">
            <span class="input-group-addon">City</span>
            <input type="text" id="city" formControlName="city" class="form-control" #city>
        </div>
      </div> 
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6" >
        <div class="input-group">
          <button type="button" class="btn btn-primary" (click)="getCustomers(firstName.value, lastName.value, phone.value, city.value)">Get Customers</button>
        </div>
      </div>
    </div>
    <hr>    
  </div>
  <smart-grid #grid id="grid" [dataSource]="dataSource" [columns]="columns" [editing]="editing" [appearance]="appearance"></smart-grid>
</div>
